<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <title>Oops page not found | Oxford Learner&apos;s Dictionaries</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="description" content="The page you were looking for cannot be found." />
      <meta name="keywords" content="Page not found" />
      <link rel="canonical" href="https://www.oxfordlearnersdictionaries.com/customPageNotFound" />
      <meta name="robots" content="noindex,nofollow" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name='viewport' content='width=device-width, initial-scale=1' />
      <meta name="_csrf" content="9dc3c327-3716-4ba1-becb-8fe259e23947"/>
      <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/interface.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/jquery.lightbox-0.5.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/print.css?version=2.0.17" rel="stylesheet" type="text/css"  media="print" />
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/autocomplete.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/grid.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/footer.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/header.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <!--[if gte IE 7 ]>
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/oxford-ie.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <![endif]-->
      <!--[if IE 9]><script type="text/javascript" src="https://www.oxfordlearnersdictionaries.com/external/scripts/matchMedia.js?version=2.0.17"></script><![endif]-->
      <link href="https://www.oxfordlearnersdictionaries.com/external/styles/responsive.css?version=2.0.17" rel="stylesheet" type="text/css" />
      <link rel="icon" type="image/x-icon" href="https://www.oxfordlearnersdictionaries.com/external/images/favicon.ico?version=2.0.17"/>
   </head>
   <body >
      <noscript>
         <div id="cookieLaw">We use cookies to enhance your experience on our website, including to provide targeted advertising and track usage. By continuing to use our website, you are agreeing to our use of cookies. You can change your cookie settings at any time. <a href='https://global.oup.com/cookiepolicy/?siteid=oaadonline' target='_blank'>Find out more</a></div>
      </noscript>
      <div id="ox-container">
         <div id="ox-header" class="">
            <script type="text/js" src="../../assets-main/scripts/header.js"></script>
            
            <hr style="margin: 0;">
            
            </div>
            <a class="go-to-top" title="back to top">TOP</a>
         </div>
         <div id="searchbar" class="responsive_container">
            <!--  -->
            <div class="mainsearch">
               <form id="search-form" method="get" action="https://www.oxfordlearnersdictionaries.com/$url_search/$dictCode/direct/">
                  <div class="dictionarySelector">
                     <div id="select_div">
                        <div>English</div>
                     </div>
                  </div>
                  <div class="searchfield">
                     <input type="text" id="q" name="q"
                        class="searchfield_input"/>
                     <a id="keyboard_icon" class="oup_icons responsive_hide_on_smartphone responsive_hide_on_tablet"></a>
                     <div id="keyboard_letters"></div>
                  </div>
                  <div class="inputSuggestions"></div>
                  <label id="search-btn" class="oup_icons">
                  <input type="submit" value="" />
                  </label>
               </form>
            </div>
         </div>
         <div class="responsive_container ">
            <div id='ad_topslot_a' class='am-default '>
               <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('ad_topslot_a'); });</script>
            
         <footer id="ox-footer" class="oup-footer">
            <div class="footer-container">
               <div class="container footer-social-media-container">
                  <div class="row">
                     <div class="col-md-12">
                        <ul>
                           <li><a href="https://twitter.com/OUPELTGlobal" class="twitter-logo"></a></li>
                           <li><a href="https://oxelt.gl/30yjpf1" class="facebook-logo"></a></li>
                           <li><a href="https://oxelt.gl/2XIAhmt" class="wordpress-logo"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-container">
               <div class="container footer-content-container">
                  <div class="row">
                     <div class="col _1eP1">
                        <h4>Oxford Learner&apos;s Dictionaries</h4>
                        <ul>
                           <li><a target="_blank" href="https://www.oxfordlearnersdictionaries.com/browse/">Browse Dictionaries & Grammar</a></li>
                           <li><a target="_blank" href="https://www.oxfordlearnersdictionaries.com/search_widget_info">Search Box</a></li>
                           <li><a target="_blank" href="https://www.oxfordlearnersdictionaries.com/system-requirements">System Requirements</a></li>
                           <li><a target="_blank" href="https://www.oxfordlearnersdictionaries.com/contact-us">Contact Us</a></li>
                        </ul>
                     </div>
                     <div class="col _1eP1">
                        <h4>More from us</h4>
                        <ul>
                           <li><a target="_blank" href="https://languages.oup.com/elt-api">Oxford Learner's Dictionaries API</a></li>
                           <li><a target="_blank" href="https://elt.oup.com/">English Language Teaching</a></li>
                           <li><a target="_blank" href="https://elt.oup.com/teachersclub">Oxford Teacher&apos;s Club</a></li>
                           <li><a target="_blank" href="https://www.oxfordlearnersbookshelf.com/home/homePage.html">Oxford Learner&apos;s Bookshelf</a></li>
                           <li><a target="_blank" href="https://languages.oup.com/ogl">Oxford Languages</a></li>
                        </ul>
                     </div>
                     <div class="col _1eP1">
                        <h4>Who we are</h4>
                        <ul>
                           <li><a target="_blank" href="https://global.oup.com/about/">About Us</a></li>
                           <li><a target="_blank" href="https://global.oup.com/about/oup_history/">Our history</a></li>
                           <li><a target="_blank" href="https://global.oup.com/about/annualreport/">Annual report</a></li>
                           <li><a target="_blank" href="https://global.oup.com/about/way_we_work/">The way we work</a></li>
                           <li><a target="_blank" href="https://global.oup.com/jobs/">Working for OUP</a></li>
                        </ul>
                     </div>
                     <div class="col _1eP1 empty"></div>
                     <div class="col logo-container logo_desktop">
                        <p>Oxford University Press is a department of the University of Oxford. It furthers the University&apos;s objective of excellence in research, scholarship, and education by publishing worldwide</p>
                        <img src="https://www.oxfordlearnersdictionaries.com/external/images/footer/logo-oup.svg" title="Oxford University Press" class="logo-footer" alt="Oxford University Press"/>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-container logo_mobile">
               <div class="container footer-content-container">
                  <div class="row">
                     <div class="col logo-container">
                        <img src="https://www.oxfordlearnersdictionaries.com/external/images/footer/logo-oup.svg" title="Oxford University Press" class="logo-footer" alt="Oxford University Press"/>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-container">
               <div class="container footer-corporate-container">
                  <div class="row">
                     <div class="col">
                        <ul>
                           <li><a target="_blank" href="https://global.oup.com/privacy">Privacy Policy</a></li>
                           <li><a target="_blank" href="https://global.oup.com/cookiepolicy">Cookie Policy</a></li>
                           <li><a target="_blank" href="https://www.oxfordlearnersdictionaries.com/terms-and-conditions">Terms & Conditions</a></li>
                           <li><a target="_blank" href="https://elt.oup.com/accessibility">Accessibility</a></li>
                           <li><a target="_blank" href="https://www.oxfordlearnersdictionaries.com/legal-notice">Legal Notice</a></li>
                           <li>
                              <select name="lang" id="headerVersion" title="Select language">
                                 <option  selected="selected"  id="uk" value="https://www.oxfordlearnersdictionaries.com/$url_search/$dictCode/direct/">English (UK)</option>
                                 <option  id="us" value="https://www.oxfordlearnersdictionaries.com/us/$url_search/$dictCode/direct/">English (US)</option>
                              </select>
                           </li>
                           <li class="_2T2E">&copy; 2020 Oxford University Press</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <script language="JavaScript" type="text/javascript" src="https://www.oxfordlearnersdictionaries.com/common.js?version=2.0.17"></script>
         <script language="javascript" type="text/javascript" src="https://www.oxfordlearnersdictionaries.com/external/scripts/doubleclick.js?version=2.0.17"></script>
         <script language="javascript" type="text/javascript">
            $(document).ready(function() { setupDoubleClick('https://www.oxfordlearnersdictionaries.com/', 'english', false, 'main-container', null, null, null); });
            $('img.over').each(function(){
                var t=$(this);
                var src1= t.attr('src'); // initial src
                var newSrc = src1.substring(0, src1.lastIndexOf('.')); // let's get file name without extension
                t.hover(function(){
                    $(this).attr('src', newSrc+ '-over.' + /[^.]+$/.exec(src1)); //last part is for extension       
                }, function(){
                    $(this).attr('src', newSrc + '.' + /[^.]+$/.exec(src1)); //removing '-over' from the name
                });
            });
         </script>
         <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
         <script type='text/javascript'>
            $(document).ready(function() {
                for(var i = 0; i<arrayFn.length;i++){
                    arrayFn[i].call();
                }
            });
         </script>
         <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-13175707-1',
               {
                  'siteSpeedSampleRate': 10
               });
            ga('send', 'pageview');
         </script>
         <script type="text/javascript">_qoptions={ qacct:"p-cfSla1Cke_iBQ" };</script>
         <script type="text/javascript" src="https://secure.quantserve.com/quant.js"></script>
         <noscript><img src="https://pixel.quantserve.com/pixel/p-cfSla1Cke_iBQ.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></noscript>
         <!-- Hotjar Tracking Code -->
         <script>
            (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:951831,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
         </script>
      </div>
   </body>
</html>